# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info

# Python
**/__pycache__/
**/*.pyc
**/*.pyo

# Reports
**/*.html

# SSH Keys
**/.ssh/
**/id_*
**/*.pem
**/*.key

# Logs
**/*.log